:root {
  --nft-blue: hsl(215, 51%, 70%);
  --nft-cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-BG);
  height: 100%;
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
}
main {
  margin-top: min(1rem);
  background-color: var(--card-BG);
  padding: 1.6rem;
  border-radius: 1rem;
  max-width: 340px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.8rem 0;
}
a {
  text-decoration: none;
  transition: 250ms ease-in-out;
}
a:hover {
  color: var(--nft-cyan);
}
p {
  color: var(--nft-blue);
  font-weight: 400;
  font-size: 1rem;
}
a {
  color: white;
}
.hero {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
  place-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: var(--nft-cyan);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.hero:hover::before {
  opacity: 0.5;
}

.hero img {
  position: relative;
}
.hero .hidden {
  position: absolute;
  z-index: 1;
  top: 50%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.hero:hover .hidden {
  opacity: 0.8;
}
.info {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}
.info img {
  margin-right: 5px;
}
.eth {
  color: var(--nft-cyan);
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center;
}
hr {
  width: 100%;
  color: var(--nft-blue);
  opacity: 0.25;
  margin-block: 1rem;
}
.bio {
  display: flex;
  align-items: center;
}
.bio img {
  border: 1px solid white;
  border-radius: 50%;
  max-width: 2rem;
  margin-right: 1rem;
}
